In [1]:
import numpy as np

In [2]:
## DataTypes & Attributes

In [7]:
# NumPy's main datatype is ndarray 
a1 = np.array([1,2,3])

In [8]:
type(a1)

numpy.ndarray

In [11]:
a2 = np.array([[1,2,3.5], 
              [4,5,6.5]])

In [12]:
print(a2)

[[1.  2.  3.5]
 [4.  5.  6.5]]

In [13]:
a2.shape

(2, 3)

In [14]:
a1.shape

(3,)

In [15]:
a1.ndim, a2.ndim

(1, 2)

In [16]:
a1.dtype, a2.dtype

(dtype('int64'), dtype('float64'))

In [17]:
a1.size, a2.size

(3, 6)

In [18]:
type(a1), type(a2)

(numpy.ndarray, numpy.ndarray)

In [19]:
#Create a dataframe from a Numpy array 
import pandas as pd 
df = pd.DataFrame(a1) 
df

   0
0  1
1  2
2  3